body {
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("/Imágenes/BackgroundLB.jpg");
  background-position: relative;
  /* background-size: cover; */
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 40px;
  color: #333;
  font-family: "Acme";
  text-align: center;
  position: relative;
  bottom: 1200px;
}

.season1 {
  position: relative;
  left: 300px;
  bottom: 1150px;
  z-index: 2;
  width: 200px;
  height: 300px;
  border-color: #333;
  border-width: 10px;
  border-style: solid;
}

.textoS1 {
  position: relative;
  left: 330px;
  bottom: 1175px;
  font-family: "Acme";
  font-size: 30px;
}

.box {
  position: relative;
  left: 150px;
  align-self: center;
  background-color: #faf6f6;
  height: 1200px;
  width: 1200px;
}

.encabezado {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1518px;
  height: 250px;
}

.img-title {
  width: 400px;
  height: 200px;
  position: relative;
  left: 550px;
  right: 0px;
}

.navbar {
  display: block;
  height: 50px;
  line-height: 50px;
  background-color: #333;
}

/* Sacarle los puntitos, margenes y padding */
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Para darle el orden uno al lado del otro */
.navbar li {
  float: left;
}

/* Define the block styling for the links */
.navbar li a {
  display: inline-block;
  text-align: center;
  padding: 14px 90px;
  font-size: 28px;
  font-family: sans-serif;
  position: relative;
  left: 50px;
  color: #f9f8f8;
  line-height: 20px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: aliceblue;
  color: white;
}

/* Style the navbar */
#nav {
  overflow: hidden;
  z-index: 3;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
